.about__container {
  padding: 0 30px;
  margin-bottom: 45px;
}

.about__title {
  margin: 0;
  margin-top: 31px;
  padding: 0;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.about__list {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #000000;
}

.about__item {
  width: 220px;
  padding-top: 83px;
}

.clean-materials {
  width: 195px;
  background-image: url('../img/png/icon-1.svg.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-position-x: 10px;
  background-position-y: 20px;

  @media (min-resolution: 2dppx) {
    background-image: url('../img/png/icon-1.svg@2x.png');
    background-size: auto 38px;
  }
}

.scandinavian-style {
  background-image: url('../img/png/icon-3.svg.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-position-x: 8px;
  background-position-y: 35px;

  @media (min-resolution: 2dppx) {
    background-image: url('../img/png/icon-3.svg@2x.png');
    background-size: auto 27px;
  }
}

.increases-likes {
  width: 200px;
  background-image: url('../img/png/icon-5.svg.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-position-x: 8px;
  background-position-y: 35px;

  @media (min-resolution: 2dppx) {
    background-image: url('../img/png/icon-5.svg@2x.png');
    background-size: auto 27px;
  }
}

.linked-manually {
  width: 240px;
  background-image: url('../img/png/icon-2.svg.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-position-x: 8px;
  background-position-y: 35px;

  @media (min-resolution: 2dppx) {
    background-image: url('../img/png/icon-2.svg@2x.png');
    background-size: auto 34px;
  }
}

.domestic-manufacturer {
  width: 260px;
  background-image: url('../img/png/icon-4.svg.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-position-x: 8px;
  background-position-y: 35px;

  @media (min-resolution: 2dppx) {
    background-image: url('../img/png/icon-4.svg@2x.png');
    background-size: auto 23px;
  }
}

.gift-wrapped {
  background-image: url('../img/png/icon-6.svg.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-position-x: 8px;
  background-position-y: 35px;

  @media (min-resolution: 2dppx) {
    background-image: url('../img/png/icon-6.svg@2x.png');
    background-size: auto 32px;
  }
}

.about__slider-title {
  margin: 0;
  margin-top: 58px;
  padding: 0;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.about__slider-text {
  margin: 0;
  margin-top: 14px;
  padding: 0;
  font-size: 15px;
  line-height: 30px;
  color: #000000;
}

.about__slider-text-name {
  margin: 0;
  margin-top: 33px;
  padding: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #444444;
}

.about__slider-link-email {
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  color: #000000;
  text-decoration: none;
}

.about__container-button {
  display: flex;
  margin-top: 30px;
  margin-bottom: 38px;
}

.about__slider-button {
  display: block;
  width: 50%;
  padding: 13px 38px;
  background-color: transparent;
  border: solid 1px #ECECEC;
}

.about__slider-link-button {
  display: block;
  padding: 16px 65px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #444444;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: solid 2px #444444;
}