.main-header {
  width: 100%;
  height: auto;
  background-image: url('../img/jpg/hero-mobile@2x-1.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: auto 373px;
  background-color: rgb(240, 243, 245);

  @media (min-resolution: 2dppx) {
    background-image: url('../img/jpg/hero-mobile@2x-1@2x.jpg');
  }
}

.main-header__title {
  margin: 0;
  padding: 0 15px;
  padding-top: 73px;
  padding-bottom: 120px;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  color: #000000;
  text-align: center;
}

.main-header__list {
  margin-bottom: 31px;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: #FFFFFF;
}

.main-header__item {
  background-color: #63D1BB;
}

.main-header__item-color {
  background-color: #56C3B2;
}

.main-header__text-Items {
  min-width: 160px;
  max-width: 440px;
  margin: 0;
  margin-right: 36px;
  padding: 0;
  padding-left: 30px;
  padding-top: 24px;
  padding-bottom: 31px;
  padding-right: 90px;
  background-image: url('../img/png/interior.svg.png');
  background-repeat: no-repeat;
  background-position: center right;

  @media (min-resolution: 2dppx) {
    background-image: url('../img/png/interior.svg@2x.png');
    background-size: auto 62px;
  }
}

.main-header__text {
  min-width: 160px;
  max-width: 440px;
  margin: 0;
  margin-right: 27px;
  padding: 0;
  padding-left: 30px;
  padding-top: 24px;
  padding-bottom: 31px;
  padding-right: 106px;
  background-image: url('../img/png/toy-svg.png');
  background-repeat: no-repeat;
  background-position: center right;

  @media (min-resolution: 2dppx) {
    background-image: url('../img/png/toy-svg@2x.png');
    background-size: auto 60px;
  }
}