.main-nav-page {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  color: #000000;
  border-bottom: solid 2px #ECECEC;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.main-nav {
  position: relative;
  width: 100%;

  @media (min-width: @tablet-width) {
    display: flex;
    width: 100%;
    max-width: 1150px;
    min-height: 89px;
    margin: 0 auto;
    justify-content: space-between;
  }

  
  @media (min-width: @desktop-width) {
    min-height: 87px;
  }
}

.main-nav__container-logo {
  z-index: 30;

  &:active {
    opacity: 100%;
  }

  &:hover {
    opacity: 60%;
  }

  &:focus {
    opacity: 30%;
  }
}

.main-nav__logo {
  display: block;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav__logo-tablet {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-nav__container {
  display: flex;
  margin: 22px;
  justify-content: center;

  @media (min-width: @tablet-width) {
    margin: 0px 0 0px 49px;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    width: 56.5%;
    align-items: center;
    margin: 5px 0 0 0;
    justify-content: right;
  }
}

.main-nav__container img {
  display: block;
}

.main-nav__toggle {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 25px;
  right: 26px;
  font-family: "Open Sans", Arial, sans-serif;
  background: none;
  cursor: pointer;
  border: none;
  z-index: 2;

  &:hover,
  &:active {
    border: none;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  bottom: 21px;
  left: 5px;
  background-color: #231F20;
  box-shadow: 0 6px 0 0 #231F20, 0 12px 0 0 #231F20;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: fade(#231F20, 30%);
  box-shadow: 0 8px 0 0 fade(#231F20, 30%), 0 16px 0 0 fade(#231F20, 30%);
}

.main-nav--opened .main-nav__toggle {
  left: auto;
  top: 25px;
  right: 25px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    bottom: 15px;
    left: 0px;
    width: 30px;
    height: 2px;
    background-color: #231F20;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: fade(#231F20, 30%);
  }
}

.main-nav__wrapper {
  position: absolute;
  width: 100%;
  background-color: #FFFFFF;
  z-index: 1;

  @media (min-width: @tablet-width) {
    display: contents;
  }
}

.main-nav__list-catalog {
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    width: 50%;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: 50px;
    flex-wrap: wrap;
    position: absolute;
    top: 80px;
    order: 10;
    justify-content: left;
    z-index: 20;
    
    @media (min-width: @desktop-width) {
      top: 4px;
      gap: 40px;
    } 
  }
}

@media (min-width: @tablet-width) {
  .main-nav__item--catalog {
    width: 168px;

    @media (min-width: @desktop-width) {
      width: 179px;
      border-right: solid 1px #ECECEC;
    }
  }
}

.main-nav__link {
  margin: 0 auto;
  margin-top: 28.5px;
  margin-bottom: 26px;
  margin-left: 76px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  cursor: pointer;

  &:active {
    opacity: 100%;
  }

  &:hover {
    opacity: 60%;
  }

  &:focus {
    opacity: 30%;
  }

  @media (min-width: @tablet-width) {
    width: 100%;
    margin: 0;
    margin-top: 30px;
    font-size: 15px;
  
    @media (min-width: @desktop-width) {
      font-size: 17px;
    }
  }
}

.main-nav__link--search-item {
  margin: 0;
  width: 70%;
  padding-top: 27px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;

  @media (min-width: @tablet-width) {
    margin: auto;
    padding: 0;
  }
}

.main-nav__link--text {
  margin: 0;
  width: 70%;
  padding-top: 27px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 50px;
    justify-content: end;
    justify-content: end;
  
    @media (min-width: @desktop-width) {
      width: 39%;
      padding-right: 53px;
    }
  }
}

.main-nav__item {
  display: flex;
  justify-content: flex-start;
  border-top: solid 1px #ECECEC;

  @media (min-width: @tablet-width) {
    justify-content: left;
    border: none;
  }
}

.main-nav__search {
  display: inline-flex;
  width: 100%;
  margin: auto 0;
  padding: 0;
  color: rgba(0,0,0,.2);
  background-color: transparent;
  text-align: left;
  text-decoration: none;
  border: 0;
  cursor: pointer;

  &:active {
    color: #000000;
  }

  &:hover {
    color: #63D1BB;
  }

  &:focus {
    color: #63D1BB;
    opacity: 30%;
  }
}

.main-nav__link--search {
  margin: 0;
  padding-top: 26.5px;
}

.main-nav__search-images {
  background-color: transparent;
  border: none;
  padding: 30px 27.5px;
  color: rgb(0 0 0 / 20%);
  cursor: pointer;

  &:active {
    color: #000000;
  }

  &:hover {
    color: #63D1BB;
  }

  &:focus {
    color: #63D1BB;
    opacity: 30%;
  }

  @media (min-width: @tablet-width) {
    padding: 30px;
  }
}

@media (min-width: @tablet-width) {
  .main-nav__search--images {
    display: flex;
    padding: 30px 33px;
    border-left: solid 1px #00000011;
    border-right: solid 1px #00000011;
  }
}

.main-nav__proposal {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    position: absolute;
    width: 50%;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-right: 50px;
    right: 0;
    top: 107px;
    font-size: 15px;
    line-height: 24px;
    color: #444444;
    z-index: 20;

    .main-nav__item-proposal {
      display: none;

      @media (min-width: @desktop-width) {
        display: block;
      }
    }

    .main-nav__proposal-text {
      position: absolute;
      right: 0;
    }
  }

  .main-nav__link-proposal {
    font-family: "Open Sans", Arial, sans-serif;
    color: #000000;
    text-decoration: none;

    &:active {
      opacity: 100%;
    }
  
    &:hover {
      opacity: 60%;
    }
  
    &:focus {
      opacity: 30%;
    }

    @media (min-width: @desktop-width) {
      font-weight: 700;
      font-size: 15px;
      line-height: 24px;
    }
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    width: 91%;
    margin-left: 50px;
    gap: 63px;
    left: 0;
  }
}

@media (max-width: @mobile-width-only) {
  .main-nav--closed .main-nav__item {
    display: none;
  }

  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    width: 100%;
    background-color: #FFFFFF;
    z-index: 10;
  }

  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0;
  }

  .main-nav--nojs .main-nav__item {
    display: flex;
  }
}
